.rectangle {
    position: absolute;
    z-index: 40;
    background-color: pink;
    width: 55vw;
    height: 75vh;
    border-radius: 1%;
    top: 15%;
    left: 35%;
}

h2 {
    color: white;
    position: absolute;
    left: 55%;
    z-index: 50;
    top: 20%;
    font-size: 3em;
}

